@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script');

html {
	scroll-behavior: smooth;
}


) * {
	font-family: 'Open Sans',
		sans-serif;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.40);
}

.navbar .navbar-brand {
	color: #fff;
}

.navbar-brand {
	font-weight: 700;
	letter-spacing: 2.25px;
	font-size: .85rem;
}

a.nav-item.nav-link {
	color: #fff !important;
	font-weight: 400;
	font-size: .85rem;
	letter-spacing: 2.25px;
	text-transform: uppercase;
}

/* Hero Section */

#hero {
	background: url(../images/heroImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 750px;
}

#hero h1 {
	padding-top: 150px;
	color: #000000;
	font-family: 'Pinyon Script',
		cursive;
	font-size: 6.25rem;
	letter-spacing: 2.25px;
}

#hero p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	letter-spacing: 1.75px;
	text-align: center;
	margin-top: 20px;
}

/* Email sign up section */

#newsletter {
	position: relative;
	background-color: #ffc20e;
	height: 250px;
}

#newsletter input {
	background-color: #ffe187;
	width: 250px;
}

#newsletter h2 {
	padding-top: 45px;
}

#newsletter input,
.btn {
	margin-top: 50px;
}

#newsletter #name {
	position: absolute;
	left: 45%
}

#newsletter #email {
	position: absolute;
	right: 105%;
}

#newsletter .btn.btn-dark {
	position: absolute;
	right: 25%;
}

/* Our Team Section */
#team {
	background-color: #323232;
	height: 700px;
	color: #fff;
}

#team p:first-of-type {
	text-align: center;
}

#team img {
	height: 150px;
	width: 150px;
	margin: 20px auto;
	border: 6px solid #ffc20e;
	border-radius: 50%;
}

#team .card {
	background-color: #323232;
	border: none;
}

#team button {
	width: 90px;
}

#team i {
	color: #fff;
}

#team h2 {
	padding-top: 65px;
	font-weight: 200;
	letter-spacing: 1.25px;
}

#team h5 {
	text-align: center;
}

#team p {
	font-size: .9rem;
	color: rgba(255, 255, 255, 0.85);
	line-height: 1.25;
	letter-spacing: 1px;
}

/* Portfolio Section */

#portfolio {
	color: #fff;
}

#portfolio .galleryTitle {
	color: #000000;
	text-align: center;
	color: #6b6b6b;
	font-weight: 200;
	margin-top: 30px;
}

#portfolio .card {
	border-radius: 0;
	margin-left: 25px;
}

#portfolio img {
	border-radius: 0;
}

#portfolio .card-body {
	background-color: rgba(0, 0, 0, 0.1);
}

#portfolio h2,
h5,
p {
	text-align: left;
	font-weight: 300;
}

#portfolio .row {
	margin-bottom: 30px;
}

#portfolio button {
	color: #626262;
	font-weight: 200;
	text-align: center;
}

#portfolio .header-text {
	margin-bottom: 20px;
}

#portfolio .portfolioThumbs {
	display: flex;
	justify-content: center;
}

/* Contact Section */

#contact {
	padding: 400px;
	background: url(../images/contactbg.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#contact h2,
p {
	text-align: center;
	color: #fff;
}

#contact #messageArea {
	border-radius: 10px;
	border: none;
}

#contact form {
	max-width: 80%;
	margin: 0 auto;
}

#contact button {
	color: #fff;
	position: absolute;
	left: 45%;
	width: 200px;
	margin-top: -5px;
}

#contact ul a {
	color: rgba(255, 255, 255, 0.7);
	font-size: .85rem;
}

#contact ul a:hover {
	text-decoration: none;
	cursor: pointer;
}

#contact ul li {
	display: inline-block;
	margin-top: 250px;
	margin-left: 100px;
}